@page "/author"


<PageTitle>Author</PageTitle>


<article>
    <div class="img-profile-1">
        <img class="img-profile-2" alt="profile" src="images/avatar.jpg">
    </div>

    <div class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula velit augue, eu egestas augue auctor id. Nunc faucibus nisl et elit cursus, at luctus nunc consectetur. Morbi venenatis ut magna in suscipit. Praesent porta nisi pellentesque, euismod purus in, ullamcorper enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae erat a nisl laoreet dictum. Sed mollis, est vel accumsan malesuada, dolor lorem laoreet velit, vitae molestie nulla lorem a sapien. Nunc eu ex sit amet elit vulputate rhoncus. Praesent eu odio porta, rhoncus eros sed, consequat erat. Nulla id lobortis mi. Sed pretium elementum semper. Integer id magna sit amet neque fringilla dignissim. Proin condimentum felis lorem, et rhoncus diam varius in. Aenean vestibulum neque ac risus interdum, nec faucibus felis tempor. Nullam imperdiet diam nisi, sed placerat nunc pulvinar eleifend. Nunc ut augue at lorem ultricies iaculis.
        <br/>
        Vestibulum interdum purus at magna blandit sagittis. Nulla iaculis lectus eros, sed vehicula turpis facilisis ac. Nunc nec blandit turpis, nec congue sem. Donec eu ipsum vitae ligula sodales blandit eget id augue. Proin interdum dui elementum tortor aliquet auctor. Aenean pulvinar bibendum est quis elementum. Aenean eu sapien metus. Vestibulum mollis, ipsum vitae sodales varius, dolor ex suscipit nibh, ac condimentum neque velit sed elit.
        <br/>
        In id cursus libero, sit amet malesuada erat. Ut vitae pulvinar nunc, et lobortis nulla. Aliquam at erat id ipsum fermentum suscipit. Sed malesuada sem quam, at porttitor turpis consequat vel. Donec rutrum risus sit amet justo molestie consequat sit amet quis leo. Cras eget lacus convallis, fermentum nulla ac, porttitor ante. Praesent ut lacinia sapien. Nam cursus odio neque, a aliquam sem finibus id. Etiam eleifend felis eget lorem auctor auctor. Pellentesque sit amet magna nec purus ultricies sodales in ac ex. Nulla vel justo sed quam ornare dapibus. Curabitur volutpat lacus non diam congue gravida. Vivamus diam mauris, tristique bibendum rutrum sit amet, porttitor at enim. Suspendisse ac nisi sit amet dolor interdum ornare. Fusce pellentesque tortor vestibulum venenatis blandit.
    </div>
</article>
